.container {
  background-color: rgb(101, 101, 247);

  justify-content: center;

  width: fit-content;
}
.innercontainer {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  text-align: center;
  flex-direction: column;
}
.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10%;
}

.radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.input {
  display: flex;
  margin: 2px auto;
  width: 90%;
  height: 45px;
  border-radius: 6px;
  gap: 10px;
  background-color: white;
  color: black;
}

.text {
  margin: auto;
  width: 50%;
  word-wrap: break-word;
  text-align: center;
  padding: 10px 0;
  font-family: "Montserrat", Helvetica, sans-serif;
}

.button {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  background: blue;
  border-radius: 10px;
  border: 0;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;

  transition: transform 0.3s ease-in, background-color 0.1s ease;
}

.button:hover {
  background-color: white;
  color: blue;
}

.head {
  font-family: "Montserrat", Helvetica, sans-serif;
  padding-bottom: 10px;
}

.rinput {
  margin-right: 1.5rem;
  margin-left: 2px;
}

.linput {
  margin-left: 2px;
}
