.container{
    background-color: red;
    
    justify-content: center;
    
    width: fit-content;
}
.innercontainer{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    text-align: center;
    flex-direction: column;
}
.section{
    display: flex;
    justify-content: center;
}