.footer {
  flex: 1;
  width: 100%;
  background-color: #ede4d6;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.image_wrapper {
  width: 250px;
  height: 100px;
  position: relative;
}

.inquiries{
  color: black;
  display: flex;
  align-items: right;
  justify-content: right;
  
  
}
.email{
  color: #1a275f;
}